@using PSCS.Domain;

@model ProductAddEditViewModel;

<form enctype="multipart/form-data" method="post" action="/Product/Save">
    <div class="row">
        <div class="col-lg-9 col-sm-12">
            <div class="mb-3">
                <label for="id" class="form-label">Id:</label>
                <input type="number" class="form-control" id="id" placeholder="Id" asp-for="@Model.Id" readonly>
            </div>
            <div class="mb-3">
                <label for="number" class="form-label">Number:</label>
                <input type="text" class="form-control" id="number" placeholder="Number" asp-for="@Model.Number" />
                <span asp-validation-for="@Model.Number" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <input type="text" class="form-control" id="name" placeholder="Name" asp-for="@Model.Name" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <input type="text" class="form-control" id="description" placeholder="Description" asp-for="@Model.Description" />
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="supplier" class="form-label">Supplier:</label>
                <select id="supplier" class="form-control" asp-for="@Model.SupplierId">
                    @foreach (Supplier sup in ViewBag.Suppliers)
                    {
                        <option value="@sup.Id">@sup.ToString()</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image:</label>
                <input type="file" class="form-control" id="image" accept="image/jpeg, image/png" asp-for="@Model.Image"/>
            </div>
        </div>

        <div class="col-lg-3 col-sm-12">
            <img id="image" class="rounded w-100" src="@(Model.ImageBytes != null ? "data:image/png;base64,"+Convert.ToBase64String(Model.ImageBytes) : "/no-image.png")" alt="Product Image">
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Save</button>
</form>