@using PSCS.Domain;

@model Product;

<div class="col-sm-6 col-lg-3">
    <div class="card h-100">
        <div class="card-body">
            <img class="card-img-top mx-auto d-block" src="@(Model.Image != null ? "data:image/png;base64,"+Convert.ToBase64String(Model.Image) : "~/no-image.png")" alt="Product Image" style="max-height: 8em; width: auto;" />
            <h5 class="card-title">@Model.Name (@Model.Id)</h5>
            <p class="card-text">@Model.Description</p>
        </div>
        <a class="btn btn-primary" asp-controller="Store" asp-action="AddToCart" asp-route-item="@Model.Id" asp-route-amount="1">Add to cart</a>
    </div>
</div>