@using PSCS.Domain;
@using OrderLine = PSCS.Domain.OrderLine;

@model List<OrderLine>;

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h4 class="pt-1 m-0">Cart</h4>
            </div>
            <div class="col-auto">
                <a class="btn btn-danger" asp-controller="Store" asp-action="ClearCart">Clear Cart</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Number</th>
                    <th>Product</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                @if(Model != null)
                {
                    foreach (OrderLine orderLine in Model)
                    {
                        <tr>
                            <td>
                                <img class="" src="@(orderLine.Product?.Image != null ? "data:image/png;base64,"+Convert.ToBase64String(orderLine.Product.Image) : "/no-image.png")" alt="Product Image" style="max-height: 3em; width: auto;" />
                            </td>
                            <td>@orderLine.Product?.Number</td>
                            <td>@orderLine.Product?.Name</td>
@*                             <td><button class="btn btn-secondary me-1">-</button> @orderLine.Quantity <button class="btn btn-primary ms-1">+</button></td>
 *@                         <td>
                                <form class="input-group" method="post" action="/Store/ChangeQuantity" style="width: 8em;">
                                    <input class="form-control" type="hidden" id="id" name="id" value="@orderLine.ProductId" />
                                    <input class="form-control" type="number" id="qty" name="qty" placeholder="Qty" value="@orderLine.Quantity" min="1"/>
                                    <button type="submit" class="btn btn-primary ms-1">Save</button>
                                </form>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>


    </div>
</div>